<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastName}"></li>
        <li th:if="${user.email !=null}" th:text="${user.email}"></li> <!-- ${} Son para objetos, variables-->
        <li th:if="${user.email == null}" th:text="${'No tiene email'}"></li>
    </ul>
    <a th:href="@{/list}">Ver Listado</a> <br>
    <!--<a th:href="@{'/api/params/foo?message=' + ${title}}">Ver mensaje</a>-->
    <a th:href="@{/api/params/foo?message=Hola que tal}">Mensaje</a> <br>
    <a th:href="@{/api/params/foo(message='Hola que tal')}">Mensaje2</a> <br>
    <a th:href="@{/api/params/bar(text='Hola que tal', code=3233212)}">Ver bar</a> <br>
    <a th:href="@{/api/var/baz/algún mensaje}">Ver var path variable</a> <br>
    <a th:href="@{'/api/var/baz/' + ${title}}">Ver var path concatenando una variable </a> <br>
    <a th:href="@{'/api/var/baz/' + 'Hola mundo :D'}">Ver var path concatenando una variable 2 </a>
</body>
</html>