<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <!-- <div th:if="${users.size() == 0 }" th:text="${'No tiene elementos usurios!'}"></div> -->
    <div th:if="${users.isEmpty()}" th:text="${'No tiene elementos usurios!'}"></div>
    <!-- <div th:if="${users.size() =! 0 }" th:text="${users.}"></div> -->

    <table th:if="${not users.isEmpty()}">
        <thead>
            <tr>
                <th>Name</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:if="${user.email !=null}" th:text="${user.email}">"></td>
                <td th:if="${user.email == null}"  th:text="${No tiene EMAIL}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>